p {
   font-style: italic;
   margin: 50px; 
}
#miParrafo {
   font-weight: bold;
}

#miParrafo2 {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-color: aqua;
   text-decoration:dashed ;
   text-decoration: underline;
}
.parrafo-feliz {
   color: blueviolet;
   font-size: 25px;
}
/*Comentario*/
@import url("css1.html");